.App {
  background-color: #fafafa;
  overflow: hidden;
}

.jumbotron {
  background-color: #fafafa !important;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}


.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

.profileImg {
  border-radius: 50%;
}

.interest {
  font-size: 2rem;
}

#inputFile {
  visibility: hidden;
}

@media (max-width: 570px) {
  /* for mobile phones portrait mode */
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
  }
  .profileImg {
    height: 15vh;
    width: auto;
  }
  .name {
    font-size: 1.35rem;
    font-weight: 400;
  }
  .lead {
    font-size: 1rem;
  }
}

@media (min-width: 571px) and (max-width: 760px) {
  /* for mobile phones landscape mode */
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
  }
  .profileImg {
    height: 45vmin;
  }
  .name {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

@media (min-width: 761px) and (max-width: 991px) {
  /* for tablets mode */
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-gap: 1.25rem;
  }
  .name {
    font-size: 3rem;
    font-weight: 400;
  }
  .lead {
    font-size: 1.5rem;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1.5rem;
  }
  .interest {
    font-size: 1.75rem;
  }
}